# binaries
plucker_desktop/plucker-desktop
tools/explode/netscape4-plucker-helper

# build artifacts
*.def
*.log
*.o
*.rcp
*.sedscr
.depend

# autoconf artifacts
autom4te.cache
config.log
config.status
Makefile
